kafka-python-ng==2.2.3
feedparser==6.0.11
requests==2.32.3
telethon==1.36.0
fastapi
uvicorn
pydantic
transformers
torch
pandas
scikit-learn
openpyxl
python-telegram-bot==21.0.1
beautifulsoup4==4.12.3
google-genai python-dotenv